footer {
    flex-shrink: 0;
    background-color: var(--chakra-selected);
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

footer > div {
    max-width: 800px;
    margin: auto;

}
