h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 4rem;
    text-transform: uppercase;
}

.service-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0;  
}

.service-item {
    width: 80%;  
    margin: 40px;  
    padding: 30px;  
    background-color: rgba(255, 239, 239, 0.457);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*Inverser les service*/
.service-item.reverse {
    flex-direction: row-reverse;
}

.service-description {
    width: 45%;
}

.service-item h2,
.service-item p {
    margin-bottom: 20px;
}

.service-item h2 {
    font-family: 'Loura';  
    text-align: center;
}

.service-image-container {
    width: 45%;
    height: 300px;  
    overflow: hidden;  
}

.service-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;  
}

/* Style pour le bouton "Réservez maintenant" */
.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--chakra-selected);
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
